body{
    background-color: #000000;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size:32px;
    text-align: center;
    color: #3d3d3d;
    text-shadow: #636363 1px 1px;
}

.intro {  
    opacity: 90%;
    background-color: #000000;
    border: 2px solid #3d3d3d;
    color: #3d3d3d;
    position: absolute;
    min-width: fit-content;
    min-height: 300px;
    padding: 8px;
    gap: 16px;
    left: 20%;
    right: 20%;
    z-index: 4;
    overflow:none;
    display: grid;
    gap: 0;
    grid-template-rows: 
    "div"
    "div"
    "div";
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-weight: bold;
}

#intro-header {
    font-size: 24px;
    font-weight: bolder;
    overflow: none;
    text-wrap:nowrap;
    min-width: max-content;
}

#intro-body {
    vertical-align: middle;
    padding: 8px;
}

#intro-footer {
    vertical-align: middle;
}

.victory {  
    opacity: 90%;
    background-color: #000000;
    border: 2px solid #ffff00;
    color: #ffff00;
    position: absolute;
    min-width: fit-content;
    min-height: 300px;
    padding: 8px;
    gap: 16px;
    left: 20%;
    right: 20%;
    z-index: 4;
    overflow:none;
    display: grid;
    gap: 0;
    grid-template-rows: 
    "div"
    "div";
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-weight: bold;
}

#victory-header {
    font-size: 24px;
    font-weight: bolder;
    overflow: none;
    text-wrap:nowrap;
    min-width: max-content;
}

#victory-footer {
    vertical-align: middle;
}

.loss {  
    opacity: 90%;
    background-color: #000000;
    border: 2px solid #920e0e;
    color: #920e0e;
    position: absolute;
    min-width: fit-content;
    min-height: 300px;
    padding: 8px;
    gap: 16px;
    left: 20%;
    right: 20%;
    z-index: 4;
    overflow:none;
    display: grid;
    gap: 0;
    grid-template-rows: 
    "div"
    "div";
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-weight: bold;
}

#loss-header {
    font-size: 24px;
    font-weight: bolder;
    overflow: none;
    text-wrap: nowrap;
    min-width: max-content;
}

#loss-footer {
    vertical-align: middle;
}

.container {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    padding: 0;
}

.player {
    background-color: #0000ff;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 2px solid #3d3d3d;
    border-radius: 4px;
    z-index: 3;
    position: relative;
    top: 92px;
    left: 72px;
    transition: 0.3s ease-in-out;
}

.board-grid {
    display: grid;
    width: fit-content;
    gap: 0;
    border: 2px solid #3d3d3d;
    background-color: #a3a3a3;
    grid-template-columns: repeat(5,32px);
    grid-template-rows: repeat(5,32px);
    grid-template-areas: 
    "#sp0   #cor0   #sp1    #cor1   #sp2"
    "#cor2  .wall   #cor3   .wall   #cor4"
    "#sp3   #cor5   #sp4    #cor6   #sp5"
    "#cor7  .wall   #cor8   .wall   #cor9" 
    "#sp6   #cor10  #sp7    #cor11  #sp8";
    border-collapse: collapse;
}

.space {
    transition: 0.5s;
    background-color: #7d7d7d
    ;

    &.goal {
        border: 5px groove #ffff0081;
    }

    &.done {
        background-color: #ffff00;

        &.occupied {
            background-color: #d2ff89;
        }
    }

    &.occupied {
    background-color: #0000ff81;
    }
}

.corridor {
    transition: 0.5s;
    background-color: #a3a3a3;

    &.blocked {
        z-index: 1;
        background-color: #a52a2a;
    }
}

.wall {
    background-color: #000;
    border: 2px solid #3d3d3d;
    border-radius: 4px;
}

.button-grid {
    justify-self: center;
    display: grid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    gap: 0;
    grid-template-columns: repeat(3,32px);
    grid-template-rows: repeat(3,32px);
    grid-template-areas: 
    ", #up ,"
    "#left , #right"
    ", #down ,";
    border-collapse: collapse;
}

#left, #right, #up, #down {
    color: #000000;
    font-weight: bolder;
    height: auto;
    width: auto;
    border: 2px solid #3d3d3d;
    background-color: #a3a3a3;

    &:disabled{
        background-color: #3d3d3d;
    }
}